*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
    text-align: center;
}

.logo {
    display: block;
    padding: 5px;
    width: 30px;
    height: 30px;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(2, 75, 2);
    margin-bottom: 20px;
}

input::placeholder {
    color: rgba(71, 69, 69, 0.308);
}

.pesquisa {
    padding-left: 15px;
    border-radius: 10px;
    border-style:solid;
    border-color: rgba(128, 128, 128, 0.295);
    width: 510px;
    height: 35px;
    padding-right: 40px;
    background-image: url('./images/lupa.jpg');
    background-repeat: no-repeat;
    background-position: right;
    display: block;
    margin: auto;
}

.imagembaixo {
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
}

footer {
    height: 200px;
    background-color: #1b2d23;
    
}

.numeros {
    display: block;
    text-align: center;
    padding-top: 20px;
    color: white;

}

.autor {
    display: block;
    margin: auto;
    text-align: center;
    color: white;
}

.link {
    color: white;
    text-decoration: none;    
}

.cartao {
    padding: 10px;
    width: 350px;
    margin: 50px;
}

.avatar {
    padding: 10px;
    height: 150px;
    width: 150px;
}

.cartao_nome {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(2, 75, 2);
    font-size: 25px;
    font-weight: bold;
}

.cartao_status_especie {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-weight: bold;
}

div {
    display: inline-block;
}

.localizacao_ultima {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(38, 39, 38);
}

.localiza {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
}

li {
    display: inline;
    padding: 20px;
}

button {
    border: 2px solid rgb(2, 75, 2);
    border-radius: 10%;
    color: rgb(2, 75, 2);
    margin: 20px;
    width: 100px;
    height: 40px;
    font-weight: bold;
    
}